<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vipul.speakyourmind">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".other.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.LogInActivity" />
        <activity android:name=".activity.SignUpActivity" />
        <activity android:name=".activity.ForgotPasswordActivity" />
        <activity
            android:name=".activity.MyUserHandleActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.LauncherActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.UserProfileActivity" />
        <activity android:name="com.tangxiaolv.telegramgallery.GalleryActivity" />
        <activity
            android:name=".activity.TakePhotoActivity"
            android:label="@string/title_activity_take_photo"
            android:theme="@style/Theme.AppCompat.Dialog.Alert" />
        <activity
            android:name=".activity.DrawerActivity"
            android:label="@string/title_activity_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.PicturePopUpActivity"
            android:theme="@style/AppTheme.PopUpTheme" />
        <activity android:name=".activity.GalleryPopUpActivity"></activity>
    </application>

</manifest>